{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Всего новостей на странице: {{ posts|length}}</h1>
   <h4>Сегодня: {% current_time '%d %b %Y' %}</h4>
   <h4> {{ next_post|default_if_none:"Новости постоянно добавляются" }} </h4>
   <hr>
   <br>
   {% if posts %}


           {% for post in posts %}

               <h5>{{ post.header_post  }}</h5>
               <p>{{ post.text_post | truncatechars:120 }}</p>
               <span>{{ post.post_date |date:'d M Y' }}</span>
               <br>
               <br>


           {% endfor %}


   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}